<!DOCTYPE html>
<html lang="fr">
<head>
    {#
    On spécifie comment sont encodés nos caractères, c'est un vaste sujet.
    Pour l'instant il faut simplement garder à l'esprit que cet encodage doit
    correspondre à celui de votre base de données et que l'UTF-8 est l'encodage le plus répandu
    #}
    <meta charset="UTF-8">

    {#
    On spéficie comment les périphériques mobile doivent dimensionner leur viewport.
    C'est à dire dans quelles dimensions ils doivent afficher la page.
    Là encore, il s'agit du réglage recommandé.
    #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# On spécifie simplement le titre de la page, #}
    <title>{% block title %}Memory{% endblock %}</title>

    {% block stylesheets %}
        {# On rend notre jeu plus agréable à l'oeil grâce à quelques styles CSS #}
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    {% endblock %}
</head>
<body>

<h1>Memory Game</h1>

{% block body %}{% endblock %}

{% block javascripts %}
    {# Rendons notre jeu intéractif grâce à un peu de Javascript #}
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
</body>
</html>
